
	//footer.tmpl
	{{define "footer"}}
	</body>
	</html>
	{{end}}

	// Cuando usamos subplantillas, asegúrate de haber analizado cada archivo de subplantillas, de otra manera el compilador no entenderá que sustituir cuando lea {{template "header"}}

